div#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}

div#header>h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  letter-spacing: .2rem;
}

div#header>div#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#header>div#nav>a {
  margin-right: 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #bbb;
}

div#header>div#nav>a:hover {
  color: #000;
}

div#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8adff2;
  width: 100%;
  height: 1000px;
  position: absolute;
  left: 0;
}

div#content>p.main {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}